<!--投稿詳細一覧ユーザのみ-->
<% if flash[:success] %>
  <p class=notice>
    <%= flash[:success] %>
  </p>
<% end %>

<div class="container">
  <div class="row">
        

<div class="col-md-3">
    <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %> 
    <!--プロフィール画像-->
    <table>
        <tbody>
            <tr></tr>
            <tr>
                <th>name</th>
                <th><%= @user.name %></th> <!--<th>ここにユーザーネーム</th>-->
            </tr>
            <tr>
                <th>introduction</th>
                <th><%= @user.introduction %></th>
                 <tr><% if @user.id == current_user.id %></tr>
                 <% end %>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <%= link_to " ", edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %><!--ここにユーザ編集機能-->
    </div>
    
    
    <h2 class="mt-3">New book</h2>
    <%= form_with model:Book.new, local:true do |f| %>
    <div class="form-group">
        <label for="book_title">Title</label>
        <%= f.text_field :title, autofocus: true, class:"form-control", id:"book_title"%>
    </div>
    <div class="form-group">
        <label for="book_opinion">Opinion</label>
        <%= f.text_area :body, autofocus: true, class:"form-control", id:"book_body"%>
    </div>
    <div class="form-group">
        <%= f.submit 'Create Book', class: "btn btn-success" %>
    </div>
  <% end %>
  </div>
  <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
          <tbody>
              <tr>
                  <td><%= link_to attachment_image_tag(@user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"),user_path(@user.id) %><br>
                  <%= link_to @user.name, user_path(@user.id) %></td>
                  <td><%= link_to @book.title, book_path(@book.id) %></td>
                  <td><%= @book.body %></td>
                  <% if @user.id == current_user.id %>
                  <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id) , method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
                 <% end %>
              </tr>
          </tbody>
      </table>
  </div>
</div>
</div>